<template>
  <v-container>
    <v-alert type="success"
      border="top"
      dense
      dismissible
      text
      elevation="5"
      v-model="serverSuccess" >
      Данные успешно обработаны
    </v-alert>
    <v-alert type="error"
      border="top"
      dense
      dismissible
      text
      elevation="5"
      v-model="serverIsError">
      Ошибка на сервере: {{serverErrorMessage}}
    </v-alert>
    <v-container fluid>
      <v-select
          v-model=selectModel
          :items=models
          item-text="name"
          label="Выберете модель"
        ></v-select>
      <v-row>
        <v-col
        cols="12"
        md="12"
        >
          <v-textarea
            outlined
            label="Введите текст для сегментации"
            v-model="inputText"
          >
          </v-textarea>
        </v-col>
        <v-col
        cols="12"
        md="12"
        >
          <v-btn 
          elevation="2"
          :loading=isLoading
          large
          block
          @click=sendToServer
          :disabled=isDisabledButton
          > 
            Разбить текст по сегментам 
          </v-btn>
        </v-col>
        <v-col
        cols="12"
        md="12"
        >
        <v-textarea
          outlined
          readonly
          v-for="item in items" :key="item"
          :label="item.label "
          :value="item.text"
        >
        </v-textarea>
        <!-- <v-textarea
                outlined
                label="Test"
                v-model=selectModel
        >
        </v-textarea> -->
        </v-col>
      </v-row>
    </v-container>
    
  </v-container>

  
</template>

<script>
  import axios from 'axios'
  //import Vue from 'vue'
  export default {
    name: 'Segmentator',
    
    data: () => ({
      requesPredictionUrl: '/api/segmentation-server/prediction',
      getModelsUrl: '/api/segmentation-server/get-models',
      inputText: '',
      //outputText: '',
      serverErrorMessage: '',
      serverIsError: false,
      serverSuccess: false,
      isLoading: false,
      selectModel:'',
      models: [], //  [{"name": "Линейная модель","value": "linear"}]
      items: []
    }),
    methods: {
      sendToServer: function () {
        let me = this;
        me.isLoading = true
        axios
            .get(me.requesPredictionUrl + '?model=' + me.selectModel + '&text=' + encodeURIComponent(me.inputText))
            .then((response) => {
              me.serverSuccess = true
              //me.outputText = JSON.stringify(response.data)
              me.items = response.data.segments.slice(0, response.data.segments.length);
              //Vue.set(me.items, 0, response.data.model)
              me.serverIsError = false
            })
            .catch((answer)=>{
              try {
                me.serverIsError = true
                me.serverErrorMessage = [
                  answer.response.status,
                  answer.response.statusText,
                  JSON.stringify(answer.response.data.detail)
                ].join(' -> ')
              } catch (ex) {
                me.serverErrorMessage = answer
              }
            })
            .finally(()=>{
                me.isLoading = false
              })
      }
    },
    computed: {
      isDisabledButton: function () {
        let ans = false
        if (this.selectModel === '' || this.inputText === ''){
          ans = true
        }
        return ans
      }
    },
    created: function() {
      //debugger; // eslint-disable-line no-debugger
      let vc = this
      axios
        .get(vc.getModelsUrl)
        .then((response) => {
          let input = response.data.models
          vc.models =  input.slice(0, input.length)
        })
        .catch(()=>{
          console.warn('Loading model was failed.')
        })
  }
  }
</script>
