<template>
  <v-app>
    <v-app-bar
      dark
      shrink-on-scroll
      prominent
      src="bar.jpg"
      fade-img-on-scroll
      scroll-threshold="200"
      app
    >
      Сегментация текста
    </v-app-bar>

    <v-main>
      <segmentator/>
    </v-main>
  </v-app>
</template>

<script>
import Segmentator from './components/Segmentator.vue';

export default {
  name: 'App',

  components: {
    Segmentator,
  },

  data: () => ({
    //
  }),
};
</script>
